input {
    border: none;
    box-shadow: none;
}
button {
    border: none;
}

.Primary-Section {
    margin: 0 auto;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    h2 {
        color: white;
        font-family: "Poppins";
        text-align: center;
        margin-bottom: 20px;
    }
    .Search{
        display: flex;
        width: 100%;
        height: 20px;
        margin:0 5px;
        .Search-Input {
            padding: 10px;
            width: 100%;
            height: 20px;
            border-radius: 10px 0 0 10px;
            font-size: 20px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            
        }
        .Search-Btn {
            height: 40px;
            width: 40px;
            border-radius: 0 10px 10px 0;
            cursor: pointer;

        }
    }     
    
}

.Secondary-Section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    h1 {
        font-family: "Poppins";
        letter-spacing: 1px;
        font-weight: 800;
        color: white;
        font-size: 30px;
        margin-bottom: 60px;
    }
}

.Repositorios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Card {
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "lexend deca";
    background-color: white;
    width: 400px;
    height: 200px;
    margin-bottom: 20px;
    box-shadow: 5px 5px rgb(160, 160, 160);

    :first-child {
        display: flex;
        justify-content: space-between;
        h2 {
            word-wrap: break-word;
            align-self: center;
            text-align: justify;
            font-size: 22px;
            
        }
    }
    
    p {
        font-size: 18px;
    }

    

}

a {
    position: relative;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: #000;
    transition: width .7s;
}

a:hover::after {
    width: 100%;
}
.Error {
    margin-bottom: 20px;
    color: rgb(248, 0, 0);
    font-family: "lexend deca";
    
}
@media (max-width:450px) {
    .Primary-Section {
        width: auto;
    }
}